*{
    margin: 0;
    padding: 0;
}
.header-container{
    margin: 12px;
    display: flex;
    justify-content: space-between;
}

.nav-items{
    display: flex;
}
.nav-items>li{
   margin: 4px;
   list-style: none;
}

.logo{
    padding: 5px;
    background-color: antiquewhite;    
}


/* CSS For card */
.card-container{
    width: 250px;
    border: 2px solid black;
    padding: 8px;
    margin: 8px ;
}
.card-container > img{
    width: 100%;

}


.restaurant-list-container{
        display: flex;
        flex-wrap: wrap;
}


.search-container{
    display: flex;
    margin: 8px;
}
.search-container >input{
   padding: 2px;
}
.search-btn{
    margin: 5px;
}
